<p class="row info tuto">
	<b><i18n>tuto.title</i18n></b><br>
	<b><i18n>tuto.action.select</i18n></b> <i18n>tuto.text.select</i18n><br>
	<b><i18n>tuto.action.open</i18n></b> <i18n>tuto.text.open</i18n>
</p>

<article class="icons-view">
	<header>&nbsp;</header>
	<div>
		<div ng-repeat="rack in rackList.all | filter:filterRack:true" class="element reduce-block-six" ng-class="{ selected: rack.selected }">
			<explorer ng-model="rack.selected">
				<a class="[[rack.metadata.contentType]] container">
					<i class="[[folder.name === 'history' && rack.metadata.contentType === 'img' ? 'unknown' : rack.metadata.contentType]]-large" ng-if="rack.metadata.contentType !== 'img' || folder.name === 'history'">
					</i>
					<div class="clip absolute" ng-if="rack.metadata.contentType === 'img' && folder.name !== 'history'">
						<img ng-src="[['/rack/get/'+rack._id+'?thumbnail=120x120']]" alt="thumbnail" />
					</div>
				</a>
				<legend>
					<a>
						[[rack.name]]
						<br>
						<strong>[[folder.name !== 'history' ? rack.fromName : rack.toName]]</strong>
					</a>
				</legend>

				<i class="download" tooltip="[['rack.download']]" ng-if="folder.name !== 'history'">
					<a ng-href="[[folder.name !== 'history' ? '/rack/get/'+rack._id : '' ]]"></a>
				</i>
			</explorer>
		</div>
	</div>
</article>
