<article class="icons-view">
	<header>&nbsp;</header>
	<div>
		<div ng-repeat="rack in rackList.all | filter:filterRack:true" class="element reduce-block-six">
			<a ng-href="[[folder.name !== 'history' ? '/rack/get/'+rack._id : '' ]]" class="[[rack.metadata.contentType]] container">
				<i class="[[folder.name === 'history' && rack.metadata.contentType === 'img' ? 'unknown' : rack.metadata.contentType]]-large" ng-if="rack.metadata.contentType !== 'img' || folder.name === 'history'">
				</i>
				<div ng-if="rack.metadata.contentType === 'img' && folder.name !== 'history'" class="twelve cell">
					<div class="clip absolute">
						<img ng-src="[['/rack/get/'+rack._id+'?thumbnail=120x120']]" alt="thumbnail" />
					</div>
				</div>
			</a>
			<input type="checkbox" data-ng-model="rack.selected" ng-if="!folder.readOnly"/>
			<legend>
				<a ng-href="[[folder.name !== 'history' ? '/rack/get/'+rack._id : '' ]]">
					[[rack.name]]
				</a>
				<a ng-href="/userbook/annuaire#[[rack.from]]"><strong>[[rack.fromName]]</strong></a>
			</legend>
		</div>
		<div class="clear"></div>
	</div>
</article>
