<script type="text/ng-template" id="folder-management">
	<a ng-class="{ selected: isTargetFolder(folder)}" ng-click="addTargetFolder(folder)">
		[[folder.name]]
	</a>
	<ul class="row">
		<li ng-repeat="folder in folder.children" ng-include="'folder-management'"></li>
	</ul>
</script>

<container template="copy-files"></container>
<container template="send-rack"></container>

<div class="row" ng-controller="LibraryController">
	<div class="row rigid-grid">
		<h1 class="four cell" data-reload>
			<a><i class="rack"></i><i18n>rack.title</i18n></a>
		</h1>
		<nav class="contextual-buttons margin-four">
			<div class="twelve cell">
				<div class="action-buttons">
					<button ng-click="openNewRack()" workflow="rack.send" ng-if="totalDisplayed">
						<i18n>rack.sendRack</i18n>
					</button>
				</div>
				<div class="display-buttons" ng-if="totalDisplayed">
					<div class="choice-view">
						<i class="show-icons" ng-class="{ selected: template.contains('list', 'icons-list') }" ng-click="template.open('list', 'icons-list')"></i>
						<i class="show-list" ng-class="{ selected: template.contains('list', 'table-list') }" ng-click="template.open('list', 'table-list')"></i>
					</div>
				</div>
			</div>

		</nav>
	</div>

	<div class="row rigid-grid" ng-if="rackList.all.length">
		<section class="vertical four cell">
			<nav class="vertical">
				<ul>
					<li ng-click="open('mine')">
						<a ng-class="{ selected: select.folderName === 'mine' }">
							<i18n>rack.mine</i18n>
							</a>
					</li>
					<li ng-click="open('history')">
						<a ng-class="{ selected: select.folderName === 'history' }">
							<i18n>rack.history</i18n>
						</a>
					</li>
					<li ng-click="open('trash')">
						<a ng-class="{ selected: select.folderName === 'trash' }">
							<i18n>rack.trash</i18n>
						</a>
					</li>
				</ul>
			</nav>
			<div class="nine row" ng-hide="select.folderName === 'trash' && !totalDisplayed">
				<hr class="row" />
				<h2><i18n>rack.usedSpace</i18n></h2>
				<progress-bar max="quota.max" filled="quota.used" unit="[[quota.unit]]"></progress-bar>
			</div>
		</section>
		<section class="margin-four">
			<div class="twelve cell">
				<container template="list"></container>
				<!-- Empty screen My rack -->
				<div class="emptyscreen" ng-if="select.folderName === 'mine' && !totalDisplayed">
					<h2 class="emptyscreen-header">
						<i18n>empty.rack.consultation.title</i18n>
					</h2>
					<img class="emptyscreen-image__mini" src="/rack/public/img/empty-rack.svg">
					<p class="emptyscreen-footer">
						<i18n>empty.rack.consultation</i18n>
					</p>
					<a class="button" ng-click="openNewRack()" workflow="rack.send">
						<i18n>rack.sendRack</i18n>
					</a>
				</div>
				<!-- Empty screen History -->
				<div class="emptyscreen" ng-if="select.folderName === 'history' && !totalDisplayed">
					<h2 class="emptyscreen-header">
						<i18n>empty.rack.creation.title</i18n>
					</h2>
					<img class="emptyscreen-image__mini" src="/rack/public/img/empty-rack.svg">
					<p class="emptyscreen-footer">
						<i18n>empty.rack.creation</i18n>
					</p>
				</div>
				<!-- Empty screen Trash -->
				<div class="emptyscreen" ng-if="select.folderName === 'trash' && !totalDisplayed">
					<img class="emptyscreen-image" src="/assets/themes/entcore-css-lib/images/empty-trash.svg">
					<p class="emptyscreen-footer">
						<i18n>empty.trash2</i18n>
					</p>
				</div>
			</div>
		</section>
	</div>

	<!-- Empty screen No rack -->
	<div class="emptyscreen" ng-if="!rackList.all.length">
		<h2 class="emptyscreen-header">
			<i18n>empty.rack.consultation.title</i18n>
		</h2>
		<img class="emptyscreen-image__mini" src="/rack/public/img/empty-rack.svg">
		<p class="emptyscreen-footer">
			<i18n>empty.rack.consultation</i18n>
		</p>
		<a class="button" ng-click="openNewRack()" workflow="rack.send">
			<i18n>rack.sendRack</i18n>
		</a>
	</div>

	<container template="toaster"></container>
</div>
