<article class="list-view no-margin" ng-if="totalDisplayed">
	<table class="twelve">
		<thead class="tableheader whiteheader">
    		<tr>
    			<th class="icon" ng-if="select.folderName !== 'history'">
    				<input type="checkbox" ng-model="select.all" ng-change="switchAll()"/>
    			</th>
    			<th class="icon"></th>
    			<th class="content" ng-click="orderBy('name')">
                    <i18n>title</i18n>
				</th>
    			<th class="user" ng-if="select.folderName !== 'history'" ng-click="orderBy('fromName')">
                    <i18n>from</i18n>
				</th>
				<th class="user" ng-if="select.folderName === 'history'" ng-click="orderBy('toName')">
                    <i18n>to</i18n>
				</th>
    			<th class="date" ng-click="orderBy('sent')">
                    <i18n>sentDate</i18n>
				</th>
    		</tr>
		</thead>
		<tbody>
    		<tr ng-repeat="rack in rackList.all | filter:filterRack:true | orderBy:ordering" ng-class="{ checked: rack.selected }">
    			<td class="icon" ng-if="select.folderName !== 'history'">
					<input type="checkbox" ng-model="rack.selected"/>
				</td>
				<td class="icon">
					<div class="twelve cell">
						<i class="[[rack.metadata.contentType]]"></i>
					</div>
				</td>
    			<td class="content">
                    <a ng-href="[[select.folderName === 'mine' ? '/rack/get/' + rack._id : '' ]]">
						[[rack.name]]
					</a>
                </td>
    			<td class="user" ng-if="select.folderName !== 'history'">
                    <a href="/userbook/annuaire#[[rack.from]]">[[rack.fromName]]</a>
                </td>
				<td class="user" ng-if="select.folderName === 'history'">
					<a href="/userbook/annuaire#[[rack.to]]">[[rack.toName]]</a>
				</td>
    			<td class="date">
                    [[longDate(rack.sent)]]
                </td>
    		</tr>
		</tbody>
	</table>
</article>
