.dropzone {
  min-height: 250px !important;
}
.table {
  border-radius: 0px;
}
.mobile-menu {
  background-color: var(--edifice-gray-200);
}
.mobile-menu .dropdown {
  background-color: white;
}
.documents-table {
  overflow-y: auto;
  max-height: calc(100vh - 200px);
  display: block;
}
@media (max-width: 768px) {
  .documents-table {
    overflow-x: auto;
    display: block;
  }
  .documents-table table {
    min-width: 600px;
  }
}
.cancel-gap {
  margin-left: calc(var(--edifice-gap) * -1);
  margin-right: -2.4rem;
}
