<!DOCTYPE html>
<html>

	<head>
		<title>{{#i18n}}rack.title{{/i18n}}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script src="/rack/public/dist/entcore/ng-app-494d34476a.js" type="text/javascript"></script>
		<script src="/rack/public/dist/application-d11cf35f72.js" type="text/javascript"></script>
		<script type="text/ng-template" id="empty"></script>
	</head>

	<body ng-controller="RackController">
		<portal>
			<div class="twelve cell" ng-include="template.containers.main"></div>
		</portal>
	</body>

</html>
